annotated-types==0.5.0
asgiref==3.7.2
Django==4.2.4
django-admin-black==1.0.8
django-admin-list-filters==1.1
django-autocomplete-light==3.9.7
django-bootstrap-datepicker-plus==5.0.4
django-bootstrap-pagination==1.7.1
django-clearcache==1.2.1
django-widgets-improved==1.5.0
psycopg2==2.9.6
pydantic==2.1.1
pydantic_core==2.4.0
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
